

body {margin-left:auto;
	margin-right:auto;
	width: 70%;
	
}
h1,h2,h3 {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	margin-top: 1.5em;
  }
  h1{font-size: 32px;
  }
  table,td,th {    margin: 5px 20px;	
	
	
	border: 1px solid black;
	
 }
 figcaption{
	 font-style:italic;
	}
figure{
	float: right;
}
